<form action="<%= cats_url %>" method="post">
  <label>
    Name:
    <input type="text" name="cat[name]"  value="<% @cat.name %>">
  </label>
  <label>
    Sex:
    <input type="radio" name="cat[sex]" value="M" id="cat_sex_male">
    <label for="cat_sex_male">Male</label>
    <input type="radio" name="cat[sex]" value="F" id="cat_sex_female">
    <label for="cat_sex_female">Female</label>
  </label>
  <label>
    Color:
    <select name="cat[color]">
      <option value=""></option>
      <option value="brown">Brown</option>
      <option value="black">Black</option>
      <option value="orange">Orange</option>
      <option value="blue">Blue</option>
      <option value="white">White</option>
    </select>
  </label>
  <label>
    Birthday:
    <input type="date" name="cat[birth_date]">    
    </select>
  </label>
  <label>
    Description:
    <textarea name="cat[description]" value="<% @cat.description %>", rows=30, cols=30>
    </textarea>
  </label>
</form>
